@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-Regular.ttf');
 }

.navbar-default, .navbar-toggle:focus, .collapsed, button.navbar-toggle {
    background: $navbarColor !important;
    border: none;
    font-style: "Orbitron Regular";
    a {
        color: write !important;
        font-family: "Orbitron Regular";
    }
}

nav {
    .navbar-header {
        font-family: "Orbitron Regular";
        width: 100%;
        button, .navbar-brand {
            transition: opacity 0.50;
            color: black;
            font-size: medium;
            font-family: "Orbitron Regular";
        }
        button {
            margin-right: 0;
        }
        button:hover, .navbar-brand:hover {
            opacity: 0.8;
        }
    }
    .col-sm-5, .col-sm-7 {
        padding: 0;
    }
}

body {
    margin-top: 50px;
    font-family: "Orbitron Regular";
}

.pc-menu {
    margin-right: 10px;
    font-family: "Orbitron Regular";
}
.mobile-menu {
    i {
        color: white;
    }
    ul {
        padding: 0px;
        font-family: "Orbitron Regular";
    }
    a {
        display: block;
        padding: 10px 0px 10px 25px !important;
    }
    a:hover {
        background: white !important;
        color: black !important;
        font-family: "Orbitron Regular";
        i {
            color: black;
            font-family: "Orbitron Regular";
        }
    }
}

.icon-bar {
    background: $navbarColor !important;
}

.active a {
    background: $navbarColor !important;
    border-bottom: solid 5px white;
    font-family: "Orbitron Regular";
}

.dropdown-toggle, .dropdown-menu {
    background: $navbarColor !important;
    border: none;
    font-family: "Orbitron Regular";
}

.dropdown-menu a:hover {
    color: black !important;
    background: white !important;
    font-family: "Orbitron Regular";
}