* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-VariableFont_wght.ttf');
}

html {
    font-size: 55%;
    font-family: "Orbitron";
}

body {
    background: &backgroundColor;
    font-size: 10px;
    font-size: 1.2rem;
    font-style: bold;
    margin-left: 50px;
    margin-right: 50px;
}

header {
    font-size: 50px;
    font-size: 4rem;
    font-family: 'Orbitron';
    font-weight: 900;
    font-style: bold;
}

i {
    width: 26px;
}

ul {
    list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
    text-decoration: none;
}

.control-label {
    display: none;
}